<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="admin">
      <h2 data-cy="adminDetailsHeading"><span fsisTranslate="fastasistanceApp.admin.detail.title">Admin</span></h2>

      <hr />

      <fsis-alert-error></fsis-alert-error>

      <fsis-alert></fsis-alert>

      <dl class="row-md jh-entity-details">
        <dt><span fsisTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ admin.id }}</span>
        </dd>
        <dt><span fsisTranslate="fastasistanceApp.admin.cargo">Cargo</span></dt>
        <dd>
          <span>{{ admin.cargo }}</span>
        </dd>
        <dt><span fsisTranslate="fastasistanceApp.admin.customer">Customer</span></dt>
        <dd>
          <div *ngIf="admin.customer">
            <a [routerLink]="['/customer', admin.customer?.id, 'view']">{{ admin.customer?.numDocumento }}</a>
          </div>
        </dd>
        <dt><span fsisTranslate="fastasistanceApp.admin.centroDeFormacion">Centro De Formacion</span></dt>
        <dd>
          <div *ngIf="admin.centroDeFormacion">
            <a [routerLink]="['/centro-de-formacion', admin.centroDeFormacion?.id, 'view']">{{ admin.centroDeFormacion?.nombreCentro }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span fsisTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/admin', admin.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span fsisTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
