<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="fsis-trimestre-heading"
        data-cy="TrimestreCreateUpdateHeading"
        fsisTranslate="fastasistanceApp.trimestre.home.createOrEditLabel"
      >
        Create or edit a Trimestre
      </h2>

      <div>
        <fsis-alert-error></fsis-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" fsisTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" fsisTranslate="fastasistanceApp.trimestre.numTrimestre" for="field_numTrimestre">Num Trimestre</label>
          <input
            type="text"
            class="form-control"
            name="numTrimestre"
            id="field_numTrimestre"
            data-cy="numTrimestre"
            formControlName="numTrimestre"
          />
          <div
            *ngIf="editForm.get('numTrimestre')!.invalid && (editForm.get('numTrimestre')!.dirty || editForm.get('numTrimestre')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numTrimestre')?.errors?.required"
              fsisTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numTrimestre')?.errors?.maxlength"
              fsisTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 45 }"
            >
              This field cannot be longer than 45 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span fsisTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span fsisTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
