<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="clase">
      <h2 data-cy="claseDetailsHeading"><span fsisTranslate="fastasistanceApp.clase.detail.title">Clase</span></h2>

      <hr />

      <fsis-alert-error></fsis-alert-error>

      <fsis-alert></fsis-alert>

      <dl class="row-md jh-entity-details">
        <dt><span fsisTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ clase.id }}</span>
        </dd>
        <dt><span fsisTranslate="fastasistanceApp.clase.nombreClase">Nombre Clase</span></dt>
        <dd>
          <span>{{ clase.nombreClase }}</span>
        </dd>
        <dt><span fsisTranslate="fastasistanceApp.clase.trimestre">Trimestre</span></dt>
        <dd>
          <div *ngIf="clase.trimestre">
            <a [routerLink]="['/trimestre', clase.trimestre?.id, 'view']">{{ clase.trimestre?.numTrimestre }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span fsisTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/clase', clase.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span fsisTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
