<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="claseProgramaDeFormacion">
      <h2 data-cy="claseProgramaDeFormacionDetailsHeading">
        <span fsisTranslate="fastasistanceApp.claseProgramaDeFormacion.detail.title">Clase Programa De Formacion</span>
      </h2>

      <hr />

      <fsis-alert-error></fsis-alert-error>

      <fsis-alert></fsis-alert>

      <dl class="row-md jh-entity-details">
        <dt><span fsisTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ claseProgramaDeFormacion.id }}</span>
        </dd>
        <dt><span fsisTranslate="fastasistanceApp.claseProgramaDeFormacion.programadeformacion">Programadeformacion</span></dt>
        <dd>
          <div *ngIf="claseProgramaDeFormacion.programadeformacion">
            <a [routerLink]="['/programa-de-formacion', claseProgramaDeFormacion.programadeformacion?.id, 'view']">{{
              claseProgramaDeFormacion.programadeformacion?.nombrePrograma
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span fsisTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/clase-programa-de-formacion', claseProgramaDeFormacion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span fsisTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
