<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="fsis-admin-heading" data-cy="AdminCreateUpdateHeading" fsisTranslate="fastasistanceApp.admin.home.createOrEditLabel">
        Create or edit a Admin
      </h2>

      <div>
        <fsis-alert-error></fsis-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" fsisTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" fsisTranslate="fastasistanceApp.admin.cargo" for="field_cargo">Cargo</label>
          <input type="text" class="form-control" name="cargo" id="field_cargo" data-cy="cargo" formControlName="cargo" />
          <div *ngIf="editForm.get('cargo')!.invalid && (editForm.get('cargo')!.dirty || editForm.get('cargo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('cargo')?.errors?.required" fsisTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cargo')?.errors?.maxlength"
              fsisTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 45 }"
            >
              This field cannot be longer than 45 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" fsisTranslate="fastasistanceApp.admin.customer" for="field_customer">Customer</label>
          <select class="form-control" id="field_customer" data-cy="customer" name="customer" formControlName="customer">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption"
              *ngFor="let customerOption of customersSharedCollection; trackBy: trackCustomerById"
            >
              {{ customerOption.numDocumento }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" fsisTranslate="fastasistanceApp.admin.centroDeFormacion" for="field_centroDeFormacion"
            >Centro De Formacion</label
          >
          <select
            class="form-control"
            id="field_centroDeFormacion"
            data-cy="centroDeFormacion"
            name="centroDeFormacion"
            formControlName="centroDeFormacion"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                centroDeFormacionOption.id === editForm.get('centroDeFormacion')!.value?.id
                  ? editForm.get('centroDeFormacion')!.value
                  : centroDeFormacionOption
              "
              *ngFor="let centroDeFormacionOption of centroDeFormacionsSharedCollection; trackBy: trackCentroDeFormacionById"
            >
              {{ centroDeFormacionOption.nombreCentro }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span fsisTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span fsisTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
