<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="fsis-clase-docente-heading"
        data-cy="ClaseDocenteCreateUpdateHeading"
        fsisTranslate="fastasistanceApp.claseDocente.home.createOrEditLabel"
      >
        Create or edit a Clase Docente
      </h2>

      <div>
        <fsis-alert-error></fsis-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" fsisTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" fsisTranslate="fastasistanceApp.claseDocente.docente" for="field_docente">Docente</label>
          <select class="form-control" id="field_docente" data-cy="docente" name="docente" formControlName="docente">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="docenteOption.id === editForm.get('docente')!.value?.id ? editForm.get('docente')!.value : docenteOption"
              *ngFor="let docenteOption of docentesSharedCollection; trackBy: trackDocenteById"
            >
              {{ docenteOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" fsisTranslate="fastasistanceApp.claseDocente.horario" for="field_horario">Horario</label>
          <select class="form-control" id="field_horario" data-cy="horario" name="horario" formControlName="horario">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="horarioOption.id === editForm.get('horario')!.value?.id ? editForm.get('horario')!.value : horarioOption"
              *ngFor="let horarioOption of horariosSharedCollection; trackBy: trackHorarioById"
            >
              {{ horarioOption.jornada }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" fsisTranslate="fastasistanceApp.claseDocente.clase" for="field_clase">Clase</label>
          <select class="form-control" id="field_clase" data-cy="clase" name="clase" formControlName="clase">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="claseOption.id === editForm.get('clase')!.value?.id ? editForm.get('clase')!.value : claseOption"
              *ngFor="let claseOption of clasesSharedCollection; trackBy: trackClaseById"
            >
              {{ claseOption.nombreClase }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span fsisTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span fsisTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
