<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="trimestre">
      <h2 data-cy="trimestreDetailsHeading"><span fsisTranslate="fastasistanceApp.trimestre.detail.title">Trimestre</span></h2>

      <hr />

      <fsis-alert-error></fsis-alert-error>

      <fsis-alert></fsis-alert>

      <dl class="row-md jh-entity-details">
        <dt><span fsisTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ trimestre.id }}</span>
        </dd>
        <dt><span fsisTranslate="fastasistanceApp.trimestre.numTrimestre">Num Trimestre</span></dt>
        <dd>
          <span>{{ trimestre.numTrimestre }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span fsisTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/trimestre', trimestre.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span fsisTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
