<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="fsis-estudiante-heading"
        data-cy="EstudianteCreateUpdateHeading"
        fsisTranslate="fastasistanceApp.estudiante.home.createOrEditLabel"
      >
        Create or edit a Estudiante
      </h2>

      <div>
        <fsis-alert-error></fsis-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" fsisTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" fsisTranslate="fastasistanceApp.estudiante.huella" for="field_huella">Huella</label>
          <input type="number" class="form-control" name="huella" id="field_huella" data-cy="huella" formControlName="huella" />
          <div *ngIf="editForm.get('huella')!.invalid && (editForm.get('huella')!.dirty || editForm.get('huella')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('huella')?.errors?.required"
              fsisTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('huella')?.errors?.number"
              fsisTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" fsisTranslate="fastasistanceApp.estudiante.customer" for="field_customer">Customer</label>
          <select class="form-control" id="field_customer" data-cy="customer" name="customer" formControlName="customer">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption"
              *ngFor="let customerOption of customersSharedCollection; trackBy: trackCustomerById"
            >
              {{ customerOption.numDocumento }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" fsisTranslate="fastasistanceApp.estudiante.programadeformacion" for="field_programadeformacion"
            >Programadeformacion</label
          >
          <select
            class="form-control"
            id="field_programadeformacion"
            data-cy="programadeformacion"
            name="programadeformacion"
            formControlName="programadeformacion"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                programaDeFormacionOption.id === editForm.get('programadeformacion')!.value?.id
                  ? editForm.get('programadeformacion')!.value
                  : programaDeFormacionOption
              "
              *ngFor="let programaDeFormacionOption of programaDeFormacionsSharedCollection; trackBy: trackProgramaDeFormacionById"
            >
              {{ programaDeFormacionOption.nombrePrograma }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" fsisTranslate="fastasistanceApp.estudiante.trimestre" for="field_trimestre">Trimestre</label>
          <select class="form-control" id="field_trimestre" data-cy="trimestre" name="trimestre" formControlName="trimestre">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="trimestreOption.id === editForm.get('trimestre')!.value?.id ? editForm.get('trimestre')!.value : trimestreOption"
              *ngFor="let trimestreOption of trimestresSharedCollection; trackBy: trackTrimestreById"
            >
              {{ trimestreOption.numTrimestre }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" fsisTranslate="fastasistanceApp.estudiante.ficha" for="field_ficha">Ficha</label>
          <select class="form-control" id="field_ficha" data-cy="ficha" name="ficha" formControlName="ficha">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="fichaOption.id === editForm.get('ficha')!.value?.id ? editForm.get('ficha')!.value : fichaOption"
              *ngFor="let fichaOption of fichasSharedCollection; trackBy: trackFichaById"
            >
              {{ fichaOption.nombreFicha }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span fsisTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span fsisTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
