<div>
  <h2 id="page-heading" data-cy="EstudianteHeading">
    <span fsisTranslate="fastasistanceApp.estudiante.home.title">Estudiantes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span fsisTranslate="fastasistanceApp.estudiante.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-estudiante"
        [routerLink]="['/estudiante/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span fsisTranslate="fastasistanceApp.estudiante.home.createLabel"> Create a new Estudiante </span>
      </button>
    </div>
  </h2>

  <fsis-alert-error></fsis-alert-error>

  <fsis-alert></fsis-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="estudiantes?.length === 0">
    <span fsisTranslate="fastasistanceApp.estudiante.home.notFound">No estudiantes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="estudiantes && estudiantes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span fsisTranslate="global.field.id">ID</span></th>
          <th scope="col"><span fsisTranslate="fastasistanceApp.estudiante.huella">Huella</span></th>
          <th scope="col"><span fsisTranslate="fastasistanceApp.estudiante.customer">Customer</span></th>
          <th scope="col"><span fsisTranslate="fastasistanceApp.estudiante.programadeformacion">Programadeformacion</span></th>
          <th scope="col"><span fsisTranslate="fastasistanceApp.estudiante.trimestre">Trimestre</span></th>
          <th scope="col"><span fsisTranslate="fastasistanceApp.estudiante.ficha">Ficha</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estudiante of estudiantes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/estudiante', estudiante.id, 'view']">{{ estudiante.id }}</a>
          </td>
          <td>{{ estudiante.huella }}</td>
          <td>
            <div *ngIf="estudiante.customer">
              <a [routerLink]="['/customer', estudiante.customer?.id, 'view']">{{ estudiante.customer?.numDocumento }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="estudiante.programadeformacion">
              <a [routerLink]="['/programa-de-formacion', estudiante.programadeformacion?.id, 'view']">{{
                estudiante.programadeformacion?.nombrePrograma
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="estudiante.trimestre">
              <a [routerLink]="['/trimestre', estudiante.trimestre?.id, 'view']">{{ estudiante.trimestre?.numTrimestre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="estudiante.ficha">
              <a [routerLink]="['/ficha', estudiante.ficha?.id, 'view']">{{ estudiante.ficha?.nombreFicha }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/estudiante', estudiante.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" fsisTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/estudiante', estudiante.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" fsisTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(estudiante)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" fsisTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
