<div>
  <h2 id="page-heading" data-cy="ClaseHeading">
    <span fsisTranslate="fastasistanceApp.clase.home.title">Clases</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span fsisTranslate="fastasistanceApp.clase.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-clase"
        [routerLink]="['/clase/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span fsisTranslate="fastasistanceApp.clase.home.createLabel"> Create a new Clase </span>
      </button>
    </div>
  </h2>

  <fsis-alert-error></fsis-alert-error>

  <fsis-alert></fsis-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clases?.length === 0">
    <span fsisTranslate="fastasistanceApp.clase.home.notFound">No clases found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="clases && clases.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span fsisTranslate="global.field.id">ID</span></th>
          <th scope="col"><span fsisTranslate="fastasistanceApp.clase.nombreClase">Nombre Clase</span></th>
          <th scope="col"><span fsisTranslate="fastasistanceApp.clase.trimestre">Trimestre</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clase of clases; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/clase', clase.id, 'view']">{{ clase.id }}</a>
          </td>
          <td>{{ clase.nombreClase }}</td>
          <td>
            <div *ngIf="clase.trimestre">
              <a [routerLink]="['/trimestre', clase.trimestre?.id, 'view']">{{ clase.trimestre?.numTrimestre }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/clase', clase.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" fsisTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/clase', clase.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" fsisTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(clase)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" fsisTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
